@{
    ViewData["Title"] = "About";
}
<div class="row p-5 mb-4 shadow" style="background-color:white;border-radius:30px;">
    <h1 class="col-sm-12">About Us</h1>
</div>
<div class="row">
    <p class="col-sm-6">
        We're proud present you with the opportunity to enhance your fitness journey!
        With ReFuel, you can track, manage, and optomize your micros, macros, and your workouts!
    </p>
</div>