@{
    ViewData["Title"] = "ReFuel";
}

<div class="text-center p-5 mb-4 shadow" style="background-color:white;border-radius:30px;">
    <h1 class="display-4">ReFuel<i class="fa fa-battery-4" style="font-size:36px"></i></h1>
    <p class="lead">
        The #1 app that tracks and advises on key metrics in your diet and fitness to help you hit your macros and micros in your healthy lifestyle!
    </p>
 </div>

<div class="row p-5 mb-4 shadow" style="background-color:white;border-radius:30px;">
<div class="row">
    <div class="col-md-4">
        <h2 class="text-center">ReFuel<i class="fa fa-battery-4" style="font-size:24px"></i></h2>
        <p>ReFuel you body with precise macro and micro tracking!</p>
        </div>
      <div class="col-md-4">
        <h2 class="text-center">ReCharge<i class="fa fa-battery-4" style="font-size:24px"></i></h2>
        <p>ReCharge with meals customized to your body type and needs!</p>
      </div>
    <div class="col-md-4">
        <h2 class="text-center">ReNew<i class="fa fa-battery-4" style="font-size:24px"></i></h2>
        <p>ReNew your health in six months with tailored workouts!</p>
    </div>
    </div>
<div class="row">
    <img src="~/Images/tracking.jpg" alt="Tracking Nutrition" asp-append-version="true" class="float-sm-start img-fluid col-sm-4" />
    <img src="~/Images/salmon-dinner.jpg" alt="Salmon Dinner" asp-append-version="true" class="float-sm-start img-fluid col-sm-4" />
    <img src="~/Images/workout.jpg" alt="Workout" asp-append-version="true" class="float-sm-start img-fluid col-sm-4" />
</div>
</div>
  


